<h1 mat-dialog-title>Add New Location</h1>
<mat-dialog-content>
    <form [formGroup]="locationForm" (ngSubmit)="newLocation()">
        <mat-form-field>
            <mat-label>Location Name:</mat-label>
            <input matInput formControlName="name" type="text">
            <mat-error *ngIf="name?.pristine">Required.</mat-error>
            <mat-error *ngIf="name?.dirty && name?.invalid">Name is Required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Latitude:</mat-label>
            <input matInput formControlName="latitude" type="number">
            <mat-hint>Between 90 and -90</mat-hint>
            <mat-error *ngIf="latitude?.pristine">Required.</mat-error>
            <mat-error *ngIf="latitude?.invalid && latitude?.dirty">Value should be between -90 and 90.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Longitude:</mat-label>
            <input matInput formControlName="longitude" type="number">
            <mat-hint>Between 180 and -180.</mat-hint>
            <mat-error *ngIf="longitude?.pristine">Required.</mat-error>
            <mat-error *ngIf="longitude?.invalid && longitude?.dirty">Value should be between -180 and 180.</mat-error>
        </mat-form-field>
        <p style="color: rgb(255, 10, 10);">
            {{errMsg}}
        </p>
        <mat-dialog-actions align="center">
            <button mat-button type="submit">Submit</button>
            <button mat-button type="button" [mat-dialog-close]="true">Close</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>